*{  margin:0 ;  
    padding:0;
    /* cursor: url(/Recursos/flechaL.png), auto;     */
    } 
    
    
body{
    background-color: #C4C4C4;
}


/*---------------------------Layout---------------------------*/
#layout_generico{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 79px auto 79px;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

main{
    grid-area: main;
    flex-direction: row;
}

#layout_home{
    display: grid;
    grid-template-columns: 0.59fr 0.78fr;
    grid-template-rows: 79px 85vh 79px;
    grid-template-areas: 
        "header header"
        "nombre fotoPersonal"
        "footer footer"
    ;

}
header{
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    padding: 0px;
    height: 79px;
    
}
#nombre{
    grid-area: nombre;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nombre h1{    
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 150px;
    line-height: 117px;
    text-align: center;
    padding: 50px;
}

#nombre p{
    font-family: Raleway;
    font-style: ExtraBold;
    font-weight: 800px;
    font-size: 100px;
    line-height: 100px;
    color: #919191;
}
#fotoPersonal{
    grid-area: fotoPersonal;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#fotoPersonal img{
    height: 100%;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;    
    align-content: center;
    list-style: none;
    
}
nav ul li{
    padding: 10px;
    margin-right: 40px;
}
nav ul li a{
    
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 26px;
    color: white;
    line-height: 32px;
}
#actual{
    background-color:white; 
    border-radius: 66px;
}
#actual a{
    color: black;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    align-items: center;
    bottom: 0px;
}
footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    list-style: none;    
}
footer ul li{
    padding: 10px 10px 0px 10px;
    margin-right: 40px;
}

/*-------------------------*------Tecnologías---------------------*/
.titulo{
    padding-top: 64px;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 7px 8px 14px;
    font-weight: bold;
    line-height: 73px;
}

.tecnologias{
    text-align: center;
    text-shadow: 7px 8px 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    line-height: 49px;
}
.logo{
    height: 156px;
}
.tecnologias li{
    list-style-type: none;
    margin-top: 75px;
    display: inline-block;
    margin-left: 120px;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 0px 0px 0px ;
}
.tecnologias img{
    display: block;
    margin-bottom: 20px;
}

/*-------------------------------Proyectos---------------------*/
.proyectos{
    margin-left: 73px;
    margin-bottom: 10vh;
    padding-top: 85px;
    display: flex;
    justify-content: center;

}
.proyectos article{
    display: inline-block;
    margin-right: 78px;
    width: 400px;
    top: 2px;

}
.proyectos img{
    top: 0px;
}
.proyectos h2{
    text-shadow: 7px 8px 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 49px;
    overflow-x: hidden;

    
}
.proyectos p{
    color: white;
    text-shadow: 7px 8px 14px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 37px;  
}

/*-------------------------------Experiencia---------------------*/
.subtitulo{
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 73px;
    text-align: center;
}

.experiencia{
    text-shadow: 7px 8px 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 49px;
    padding: 30px;
    color: white;
    text-shadow: 7px 8px 14px black;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 37px;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.experiencia article{
    display: grid;
    grid-template-columns: 60vh 20vh;
    grid-template-rows: 40vh;
    grid-template-areas: 
        "descripcion foto"
    ;
}

/*-------------------------------Contacto---------------------*/
.contacto{
    background-color: black;
}
.formulario{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    position: relative;
}
.formulario h1{
    margin-top: 71px;
    color: white;
    text-align: center;
}
.formulario input{
    margin-top: 48px;
    font-size: 60px;
    text-align: center;
    display: inline;
    width: 590px;
    height: 79px;
    margin-bottom: 33px;
    margin-right: 20px;
}
.formulario textarea{
    font-size: 60px;
    text-align: center;
    justify-content: center;
    width: 1266px;
    height: 337px;
}
.formulario button{
    font-size: 60px;
    display: block;
    text-align: center;    
    width: 590px;
} 

