*{  margin:0;  
    padding:0; 
} 

    
body{
    background-color: black;
    display: grid;
    width: 100%;
    height: auto;
    min-height: 100vh;
    grid-template-rows: 12.34vh auto 6.71vh;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
$fuente_titulos:'Montserrat', sans-serif;
@mixin tipo_de_fuente{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
$titulos: 2rem;
$tamanios_textos: (
    nombre: 2.5rem,
    nav: 2rem,   
    subtitulos: ($titulos * 0.66),
    texto: ($titulos / 2)
); 
header{
    position: fixed;
    width: 100%;
    height: 12.34vh;
    grid-area: header;
    font-family: $fuente_titulos;
    font-size: map-get($tamanios_textos, nav);;
    font-weight: bolder;
    background-color: black;
}
.navbar{
    padding: 0;
    margin-top: 2vh;
}
.navbar-toggler{
    height: 10.34vh;
    border-color: transparent !important;
    padding-bottom: 0;
}
.navbar-toggler-icon{
    font-size: 3.70vh;   
}

.nav-item{
    background-color: black;
    color: white;
    .nav-link{
        color: white !important;
    }
}
main{
    grid-area: main;
    background-color: #C4C4C4;
}
footer{
    overflow: hidden;
    grid-area:footer;
    max-height: 6.71vh;
    padding-top: 0.05%;
    padding-bottom: 0.05%;
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        height: 100%;
        li{
            padding-left: 4%;
            height: 99%;
            img{
                height: 100%;
            }
        }
    }
}
.presentacion{
    max-height: 80.95vh;
}
.foto-personal-contenedor{
    height: 59.84vh;
    width: auto;
    background-color: black;
    background-image: url("/img/fotoLuciano.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
#nombre{
    padding: 5%;
    h1{
        @include tipo_de_fuente;
        font-size: map-get($tamanios_textos, nombre);
        text-align: center;
        animation: aparecer 1s linear;
        animation-fill-mode: backwards;
    }
    h2{
        @include tipo_de_fuente;
        font-size: map-get($tamanios_textos, subtitulos);
        color: #909090;
    }
}




.desarrollo{
    animation: aparecer 1s linear 1s;
    animation-fill-mode: backwards;
}
.psicologia{
    @extend .desarrollo;
    animation-delay: 2s;
}


@keyframes aparecer {
    0% { opacity:0;}
    50% { opacity:0.5;}
    100% { opacity:1;}
}

/*-------------------------*------Tecnologías---------------------*/
.titulo{
    padding-top: 10%;
    font-family: $fuente_titulos;
    font-size: $titulos;
    text-align: center;
    text-shadow: 7px 8px 14px;
    font-weight: 900;
}

.tecnologias{
    text-align: center;
    text-shadow: 7px 8px 14px;
    font-family: $fuente_titulos;
    font-size: map-get($tamanios_textos, subtitulos);
    font-weight: bolder;
    line-height: 49px;
    li{
        list-style-type: none;
        margin-top: 10%;
        display: inline-block;
        margin-left: 15%;
        margin-right: 60px;
        margin-bottom: 60px;
        padding: 0px 0px 0px ;
    }
    img{
        display: block;
        margin-bottom: 20px;
    }
}
.logo{
    height: 156px;
}




// /*-------------------------------Proyectos---------------------*/
.proyectos{
    margin-left: 10%;
    width: 100vw;
    img{
        max-width: 80%;
    }
}
// /*-------------------------------Experiencia---------------------*/
.subtitulo{
    text-align: center;
    font-family: $fuente_titulos;
    font-style: normal;
    font-weight: bold;
    font-size: $titulos;
    text-align: center;
    margin-bottom: 2rem;
}
.experiencia{
    margin-left: 10%;
    width: 100vw;
    article{
        width: 80vw;
        margin-bottom: 10%;
    }
}


// /*-------------------------------Contacto---------------------*/
.formulario{
    background-color: black;
    text-align: center;
    font-family: $fuente_titulos;
    font-size: map-get($tamanios_textos, subtitulos);
    font-weight: bolder;
    padding-bottom: 10%;
    h1{
        color: white;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    input{
        font-size: $titulos;
        width: 90vw;
        margin-bottom: 5%;
        text-align: center;
    }
    textarea{
        width: 90vw;
        height: 30vh;
        text-align: center;
        font-size: map-get($tamanios_textos, nombre);
    }
    [type="submit"]{  
        width: 50vw;
    }
}


// /*-------------------------------Media Queries---------------------*/

@media screen and (min-width:768px) {
    header{
        font-size: 1.5rem;
    }
    .nav-item{
        background-color: transparent;
    }
    .titulo{
        padding-top: 5%;
    }
    .titulo, .subtitulo, .formulario{
        font-size: 3.5rem;
    }
    .tecnologias{
        font-size: 3rem;
    }
    .formulario{
        textarea, input{
            font-size: 3rem;
        }
    }
    .presentacion{
        display: flex;
        flex-direction: row-reverse;
        height: 80.95vh;
    }
    .foto-personal-contenedor{
        width: 50vw;
        height: 80.95vh;
        background-size: contain;
    }
    #nombre{
        padding: 5%;
        margin: 0;
        width: 50vw;
        h1{
            @include tipo_de_fuente;
            font-size: 4rem;
            text-align: center;
            animation: aparecer 1s linear;
            animation-fill-mode: backwards;
        }
        h2{
            @include tipo_de_fuente;
            font-size: 2rem;
            color: #909090;
        }
    }
    .tecnologias{
        text-align: justify;
        li{

            margin-left: 5%;
            margin-right: 5%;

        }
    }
    .proyectos article{
        h2{
            font-size: 2.5rem;
        }
        p{
            font-size: 2rem;
        }
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .trabajo{
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 2rem;
        }
    }
    .experiencia{
        margin-top: 10%;
    }
    .formulario{
        h1{
            font-size: 6rem;
            padding: 2%;
        }
        input{
            margin-bottom: 1%;
        }
        textarea{
            height: 19vh;
        }
        padding-bottom: 2%;
    }
}
@media screen and (min-width:1092px) {
    header{
        font-size: 2.5rem;
    }
    .presentacion{
        display: flex;
        flex-direction: row-reverse;
        height: 80.95vh;
    }
    .foto-personal-contenedor{
        width: 50vw;
        height: 80.95vh;
        background-size: contain;
    }
    #nombre{
        padding: 5%;
        margin: 0;
        width: 50vw;
        h1{
            @include tipo_de_fuente;
            font-size: 8rem;
            text-align: center;
            animation: aparecer 1s linear;
            animation-fill-mode: backwards;     
        }
        h2{
            @include tipo_de_fuente;
            font-size: 4rem;
            color: #909090;
        }
    }
}