@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* cursor: url(/Recursos/flechaL.png), auto;     */
}

body {
  background-color: #C4C4C4;
}

/*---------------------------Layout---------------------------*/
#layout_generico {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 79px auto 79px;
      grid-template-rows: 79px auto 79px;
      grid-template-areas: "header" "main" "footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#layout_home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 57%;
      grid-template-columns: 42% 57%;
  -ms-grid-rows: 79px 85vh 79px;
      grid-template-rows: 79px 85vh 79px;
      grid-template-areas: "header header" "nombre fotoPersonal" "footer footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  padding: 0px;
  height: 79px;
}

#nombre {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nombre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nombre h1 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 117px;
  text-align: center;
  padding: 50px;
  -webkit-animation: aparecer 1s linear 2s;
          animation: aparecer 1s linear 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#nombre h2 {
  font-family: Raleway;
  font-style: ExtraBold;
  font-weight: 800px;
  font-size: 40px;
  line-height: 47px;
  color: #919191;
}

#fullstack {
  -webkit-animation: aparecer 1s linear 3s;
          animation: aparecer 1s linear 3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#data {
  -webkit-animation: aparecer 1s linear 4s;
          animation: aparecer 1s linear 4s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#psicologia {
  -webkit-animation: aparecer 1s linear 5s;
          animation: aparecer 1s linear 5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

#fotoPersonal {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fotoPersonal;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#fotoPersonal img {
  height: 100%;
  -webkit-animation: aparecer 2s ease-out;
          animation: aparecer 2s ease-out;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
}

nav ul li {
  padding: 10px;
  margin-right: 40px;
}

nav ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 26px;
  color: white;
  line-height: 32px;
}

#actual {
  background-color: white;
  border-radius: 66px;
}

#actual a {
  color: black;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: black;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

footer ul li {
  padding: 10px 10px 0px 10px;
  margin-right: 40px;
}

/*-------------------------*------Tecnologías---------------------*/
.titulo {
  padding-top: 64px;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  text-align: center;
  text-shadow: 7px 8px 14px;
  font-weight: bold;
  line-height: 73px;
}

.tecnologias {
  text-align: center;
  text-shadow: 7px 8px 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bolder;
  line-height: 49px;
}

.tecnologias li {
  list-style-type: none;
  margin-top: 75px;
  display: inline-block;
  margin-left: 120px;
  margin-right: 60px;
  margin-bottom: 60px;
  padding: 0px 0px 0px;
}

.tecnologias img {
  display: block;
  margin-bottom: 20px;
}

.logo {
  height: 156px;
}

/*-------------------------------Proyectos---------------------*/
.proyectos {
  margin-left: 73px;
  margin-bottom: 10vh;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.proyectos article {
  display: inline-block;
  margin-right: 78px;
  width: 400px;
  top: 2px;
}

.proyectos img {
  top: 0px;
}

.proyectos h2 {
  text-shadow: 7px 8px 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 49px;
  overflow-x: hidden;
}

.proyectos p {
  color: white;
  text-shadow: 7px 8px 14px black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 37px;
}

/*-------------------------------Experiencia---------------------*/
.subtitulo {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 73px;
  text-align: center;
}

.experiencia {
  text-shadow: 7px 8px 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 49px;
  padding: 30px;
  color: white;
  text-shadow: 7px 8px 14px black;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experiencia article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60vh 20vh;
      grid-template-columns: 60vh 20vh;
  -ms-grid-rows: 40vh;
      grid-template-rows: 40vh;
      grid-template-areas: "descripcion foto";
}

/*-------------------------------Contacto---------------------*/
.contacto {
  background-color: black;
}

.formulario {
  background-color: black;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 73px;
  position: relative;
}

.formulario h1 {
  margin-top: 71px;
  color: white;
  text-align: center;
}

.formulario input {
  margin-top: 48px;
  font-size: 60px;
  text-align: center;
  display: inline;
  width: 590px;
  height: 79px;
  margin-bottom: 33px;
  margin-right: 20px;
}

.formulario textarea {
  font-size: 60px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1266px;
  height: 337px;
}

.formulario button {
  font-size: 60px;
  display: block;
  text-align: center;
  width: 590px;
}

/*-------------------------------Media Queries---------------------*/
@media screen and (max-width: 600px) {
  #layout_generico {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vh;
        grid-template-columns: 100vh;
    -ms-grid-rows: 12.34vh auto 6.71vh;
        grid-template-rows: 12.34vh auto 6.71vh;
        grid-template-areas: "header" "main" "footer";
  }
  main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul {
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 12.34vh;
    overflow: hidden;
    display: inline-block;
    text-align: center;
  }
  nav ul li {
    margin-top: 20px;
    padding: 2px;
    margin-right: 33%;
  }
  nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 26px;
    color: white;
    line-height: 32px;
  }
  nav ul:hover {
    overflow: visible;
  }
  #actual {
    background-color: white;
    border-radius: 66px;
  }
  #actual a {
    color: black;
    pointer-events: none;
  }
  #layout_home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100vw;
        grid-template-columns: 100vw;
    -ms-grid-rows: 12.34vh 59.84vh 21.09vh 6.71vh;
        grid-template-rows: 12.34vh 59.84vh 21.09vh 6.71vh;
        grid-template-areas: "header" "fotoPersonal" "nombre" "footer";
  }
  #nombre {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: nombre;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #nombre div {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
  #nombre div h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
    padding: 2px 0px 0px 0px;
    line-height: 47px;
    text-align: center;
    -webkit-animation: none;
            animation: none;
    -webkit-animation: aparecer 1s linear 2s;
            animation: aparecer 1s linear 2s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  #nombre div h2 {
    font-family: Raleway;
    font-style: ExtraBold;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #919191;
  }
  #fotoPersonal {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: fotoPersonal;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #fotoPersonal img {
    height: auto;
    width: 100vw;
    -webkit-animation: aparecer 2s ease-out;
            animation: aparecer 2s ease-out;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
    background-color: black;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  footer ul li {
    margin-right: 16px;
  }
  footer ul li img {
    max-width: 36.22px;
    height: 88.44%;
  }
}
/*# sourceMappingURL=styles.css.map */