@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  display: grid;
  width: 100%;
  height: auto;
  min-height: 100vh;
  grid-template-rows: 12.34vh auto 6.71vh;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
}

header {
  position: fixed;
  width: 100%;
  height: 12.34vh;
  grid-area: header;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  background-color: black;
}

.navbar {
  padding: 0;
  margin-top: 2vh;
}

.navbar-toggler {
  height: 10.34vh;
  border-color: transparent !important;
  padding-bottom: 0;
}

.navbar-toggler-icon {
  font-size: 3.7vh;
}

.nav-item {
  background-color: black;
  color: white;
}
.nav-item .nav-link {
  color: white !important;
}

main {
  grid-area: main;
  background-color: #C4C4C4;
}

footer {
  overflow: hidden;
  grid-area: footer;
  max-height: 6.71vh;
  padding-top: 0.05%;
  padding-bottom: 0.05%;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  height: 100%;
}
footer ul li {
  padding-left: 4%;
  height: 99%;
}
footer ul li img {
  height: 100%;
}

.presentacion {
  max-height: 80.95vh;
}

.foto-personal-contenedor {
  height: 59.84vh;
  width: auto;
  background-color: black;
  background-image: url("/img/fotoLuciano.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

#nombre {
  padding: 5%;
  /* display: flex;
  justify-content: center; */
}
#nombre h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  -webkit-animation: aparecer 1s linear;
          animation: aparecer 1s linear;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
#nombre h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.32rem;
  color: #909090;
}

.desarrollo, .psicologia {
  -webkit-animation: aparecer 1s linear 1s;
          animation: aparecer 1s linear 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.psicologia {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*-------------------------*------Tecnologías---------------------*/
.titulo {
  padding-top: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 7px 8px 14px;
  font-weight: 900;
}

.tecnologias {
  text-align: center;
  text-shadow: 7px 8px 14px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.32rem;
  font-weight: bolder;
  line-height: 49px;
}
.tecnologias li {
  list-style-type: none;
  margin-top: 10%;
  display: inline-block;
  margin-left: 15%;
  margin-right: 60px;
  margin-bottom: 60px;
  padding: 0px 0px 0px;
}
.tecnologias img {
  display: block;
  margin-bottom: 20px;
}

.logo {
  height: 156px;
}

.proyectos_contenedor {
  width: 100vw;
}

.proyectos{
  height: 20vh;
  margin: 2vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 5%;
}
.proyectos_layout_imagen{
  overflow: hidden;
  height: 100%;
  width: auto;
  border: solid black 3px;
}

.proyectos_layout_imagen a{
  display: inline-block;
  height: 100%;
  width: 100%;
}

.proyectos_imagen{
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

proyectos_texto{
  font-size: 2vh;
  word-wrap: normal;
}

.subtitulo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.experiencia {
  margin-left: 10%;
  width: 100vw;
}
.experiencia article {
  width: 80vw;
  margin-bottom: 10%;
}

.formulario {
  background-color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.32rem;
  font-weight: bolder;
  padding-bottom: 10%;
}
.formulario h1 {
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
}
.formulario input {
  font-size: 2rem;
  width: 90vw;
  margin-bottom: 5%;
  text-align: center;
}
.formulario textarea {
  width: 90vw;
  height: 30vh;
  text-align: center;
  font-size: 2.5rem;
}
.formulario [type=submit] {
  width: 50vw;
}

@media screen and (min-width: 768px) {
  header {
    font-size: 1.5rem;
  }

  .nav-item {
    background-color: transparent;
  }

  .titulo {
    padding-top: 5%;
  }

  .titulo, .subtitulo, .formulario {
    font-size: 3.5rem;
  }

  .tecnologias {
    font-size: 3rem;
  }

  .formulario textarea, .formulario input {
    font-size: 3rem;
  }

  .presentacion {
    display: flex;
    flex-direction: row-reverse;
    height: 80.95vh;
  }

  .foto-personal-contenedor {
    width: 50vw;
    height: 80.95vh;
    background-size: contain;
  }

  #nombre {
    padding: 5%;
    margin: 0;
    width: 50vw;
  }
  #nombre h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    -webkit-animation: aparecer 1s linear;
            animation: aparecer 1s linear;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  #nombre h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #909090;
  }

  .tecnologias {
    text-align: justify;
  }
  .tecnologias li {
    margin-left: 5%;
    margin-right: 5%;
  }

  .proyectos article {
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .proyectos article h2 {
    font-size: 2.5rem;
  }
  .proyectos article p {
    font-size: 2rem;
  }

  .trabajo h3 {
    font-size: 2.5rem;
  }
  .trabajo p {
    font-size: 2rem;
  }

  .experiencia {
    margin-top: 10%;
  }

  .formulario {
    padding-bottom: 2%;
  }
  .formulario h1 {
    font-size: 6rem;
    padding: 2%;
  }
  .formulario input {
    margin-bottom: 1%;
  }
  .formulario textarea {
    height: 19vh;
  }
}
@media screen and (min-width: 1092px) {
  header {
    font-size: 2.5rem;
  }

  .presentacion {
    display: flex;
    flex-direction: row-reverse;
    height: 80.95vh;
  }

  .foto-personal-contenedor {
    width: 50vw;
    height: 80.95vh;
    background-size: contain;
  }

  #nombre {
    padding: 5%;
    margin: 0;
    width: 50vw;
  }
  #nombre h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 8rem;
    text-align: center;
    -webkit-animation: aparecer 1s linear;
            animation: aparecer 1s linear;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
  }
  #nombre h2 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #909090;
  }
}/*# sourceMappingURL=styles.css.map */