.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa el 100% del viewport */
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
  overflow: hidden; /* Evita scroll en la sección */
}

/* src/styles/Projects.css */

/* Ajustes generales para la sección de proyectos */
.projects-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  height: 80vh; /* Ajusta la altura de la vista del contenedor de proyectos */
}

/* Ajustes para la tarjeta de proyecto */
.project-card {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; /* Reduce el padding */
  border-radius: 8px;
  width: 250px; /* Ajusta el ancho para dispositivos móviles */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
  scroll-snap-align: start;
}

/* Consulta de medios para dispositivos móviles */
@media (max-width: 600px) {
  .projects-container {
    height: auto; /* Ajusta la altura para que se adapte mejor a la pantalla */
  }

  .project-card {
    width: 150px; /* Tamaño más pequeño para móviles */
  }
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h3 {
  color: #a8ff60;
  margin-bottom: 10px;
}

.project-card p {
  margin: 5px 0;
  color: #c8e6c9;
}

.project-card a {
  color: #5cffc0;
  text-decoration: none;
  border-bottom: 1px solid #5cffc0;
  transition: color 0.3s;
}

.project-card a:hover {
  color: #60c0ff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #282c34;
  color: #c8e6c9;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #5cffc0;
  color: #121212;
}

.pagination button:hover {
  background-color: #60c0ff;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#tech-filter {
  padding: 5px;
  font-family: inherit;
  background-color: #282c34;
  color: #c8e6c9;
  border: 1px solid #5cffc0;
  border-radius: 5px;
  cursor: pointer;
}
